$red: #e73f3f;

.articles-show article .stash { display: block; }

article {
  padding: 20px;
  background: #fff;
  margin: 1px;
  position: relative;
  &:hover {
    .stash { display: block; }
  }

  .stash {
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
    display: none;

    @media (max-width: 480px) {
      margin-bottom: 10px;
      margin-left: 10px;
      display: block;
    }
  }

  .stashed {
    background: $red;
    color: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .summary-img {
    float: right;
    margin-left: 4em;
    margin-bottom: 2em;
    max-width: 10em;
  }

  @media (max-width: 480px) {
    padding: 10px;
  }

  blockquote {
    margin-left: 0;
    padding-left: 2.5em;
    border-left: 8px solid #ccc;
  }

  .keep-reading {
    white-space: nowrap;
  }

  .content {
    color: #777;
    font-weight: 300;

    a {
      color: #000;
      font-weight: 400;
    }
  }
  
  .title {
    font-size: 2.2em;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: .5em;
    //padding: .5em 0;

    @media (max-width: 480px) {
      font-size: 1.3em;
      letter-spacing: normal;
    }
    
    @media (max-width: 768px) and (min-width: 481px) {
      font-size: 1.8em;
    }

    @media (min-width: 768px) {
      max-width: 600px;
    }

    a:hover {
      text-decoration: none;
    } 
  }

  .details {
    padding: 10px 0;

    span, a {
      font-size: .85em;
      line-height: 100%;
    }
    a {
      text-decoration: underline;
      margin-right: 10px;
    }
  }
}