header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  background: rgba(255,255,255,0.95);
  padding: 10px 20px;
  @include box-shadow(0 1px 3px rgba(0,0,0,0.2));

  a {
    margin-right: 10px;
  }
}