body {
  background-color: #eee;
  color: #333;
  font-family: "Oxygen", "Open Sans", arial, helvetica, sans-serif; // choose one
  font-size: 1em;
  line-height: 1.4em;
  padding-top: 50px;
  position: relative;


  @media (max-width: 480px) {
    font-size: .875em;
  }

  #main {
    max-width: 864px;
    margin: 0 auto;
  }
}

.page-title {
  position: fixed;
  width: 200px;
  text-align: center;
  left: 50%;
  top: 10px;
  right: 50%;
  margin-left: -100px;
  z-index: 1000;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p, ol, ul, td {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  line-height: 1.6em;
}

tr {
  background: #fff;
}

td {
  margin: 1px;
  padding: 5px 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

.right {
  float: right;
}

.left {
  float: left;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.btn {
  @include inline-block;
  padding: 8px;
  background: #eee;
  @include border-radius(2px);
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  color: #888;
  &:hover, &:active {
    text-decoration: none;
    background: #ccc;
    color: #fff;
  }
}

